*{
    margin:auto;
}
.d1{
    
    color: aliceblue;
    background-color: navy;
    height: 80px;
    padding: 30px;
}
.d2{
    position: relative;
    color: navy;
    padding: 30px;
}
.d2 h4{
    color:black;
    padding: 5px;
    
}
.d3{
    padding-left: 30px;
    color: navy;
}
table,th,td,tr{
    border: 2px navy;
    border-style: solid;
    border-collapse: collapse;
    color: black;
    padding-left: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 5px;
}
.d4{
    color: navy;
    padding-left: 30px;
}
.d4a{
    color: black;
   padding-top: 10px;
}
.d5{
    color: navy;
    padding: 30px;
}
.d6{
    color: navy;
    padding: 30px;
}
.d7{
    color: navy;
    padding: 30px;
}

